* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  background-color: #f2f0f6;
}

main {
  flex-grow: 1;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  padding: 1.8rem 5.1rem;
  border-radius: 12px;
  font-size: 1.6rem;
  line-height: 1.11;
  font-family: "Inter", sans-serif;
  letter-spacing: normal;
}
.btn__getStarted {
  color: #fff;
  background: linear-gradient(90deg, #ef4e2a 0%, #fe6422 100%);
}
.btn__getStarted:hover {
  color: #fff;
  opacity: 0.8;
}
.btn__getStarted:active {
  color: #fff;
  opacity: 0.6;
}
.btn__signIn {
  color: #20243d;
}
.btn a {
  color: inherit !important;
}
.btn-opener {
  display: none;
  padding: 0;
}
.btn-closer {
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 0;
  position: relative;
  border: none;
}
.btn-closer:after {
  content: "";
  position: absolute;
  top: -3.2px;
  bottom: 0;
  left: 49%;
  right: 50%;
  height: 130%;
  width: 2px;
  transform: translate(-50%, 0%);
  transform: rotateZ(45deg);
  background-color: #20243d;
}
.btn-closer::before {
  content: "";
  position: absolute;
  top: -3.2px;
  bottom: 0;
  left: 49%;
  right: 50%;
  height: 130%;
  width: 2px;
  transform: translate(-50%, 0%);
  transform: rotateZ(-45deg);
  background-color: #20243d;
}
.btn-closer_wrapper {
  display: none;
  position: absolute;
  right: 50px;
  z-index: 999 !important;
}
.btn__downArrow img {
  width: 27px;
  height: 13px;
}

@media (max-width: 1200px) {
  .btns {
    display: none;
  }
}
@media (max-width: 992px) {
  .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
  }
  .btn-opener {
    display: block;
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  background-color: #f2f0f6;
}

.site-logo__link {
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.list__link {
  font-size: 1.6rem;
  line-height: 1.1;
  color: #76777e;
}
.list__link:hover {
  opacity: 0.7;
  color: #76777e;
}
.list__link:active {
  opacity: 0.4;
  color: #76777e;
}

@media (min-width: 1400px) {
  .nav-bar {
    gap: 8rem;
  }
}
@media only screen and (max-width: 992px) {
  .nav-bar {
    padding-top: 7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.13);
    -webkit-backdrop-filter: Blur(10px);
            backdrop-filter: Blur(10px);
    flex-direction: column;
    display: none;
  }
  .nav .list {
    flex-direction: column;
  }
}
.hero {
  background-image: url("../img/png/hero_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 31.3rem;
  padding-bottom: 10.6rem;
  position: relative;
  overflow: visible;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__title {
  font-size: 9.6rem;
  line-height: 1.1;
  font-family: "Inter", sans-serif;
  letter-spacing: -6px;
  margin-bottom: 2.1rem;
  background: linear-gradient(90deg, #20243d 0%, #14548f 75.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}
.hero__title .bolder {
  font-weight: 700 !important;
}
.hero__description {
  margin-bottom: 9.2rem;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
}
.hero__btns {
  margin-bottom: 22.4rem;
}/*# sourceMappingURL=style.css.map */