.hero {
 background-image: url("../img/png/hero_bg.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 padding-top: 31.3rem;
 padding-bottom: 10.6rem;
 position: relative;
 overflow: visible;

 &__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 &__title {
  @include font(9.6rem, 1.1, 500, $inter, -6px);
  margin-bottom: 2.1rem;
  background: $gradient-blue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  .bolder {
   font-weight: 700 !important;
  }
 }

 &__description {
  margin-bottom: 9.2rem;
  @include font(2.5rem, 1.5, 400, $inter, -1px);
 }

 &__btns {
  margin-bottom: 22.4rem;
 }
}
