//

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}

html {
 height: 100%;
 font-size: 62.5%;
}

body {
 height: 100%;
 display: flex;
 flex-direction: column;
 font-size: 1.8rem;
 background-color: #F2F0F6;
}

main {
 flex-grow: 1;
 padding-top: 9rem;
}

ol,
ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

a {
 text-decoration: none;
}

img {
 display: flex;
}
