//

// COLORS
$dark-blue: #20243d;
$light-gray: #76777e;
$midnight-blue: #141c46;

$gradient-blue: linear-gradient(90deg, #20243d 0%, #14548f 75.48%);
$gradient-orange: linear-gradient(90deg, #ef4e2a 0%, #fe6422 100%);
$gradient-brown: linear-gradient(90deg, #20333d 0%, #bf5327 75.48%);
$gradient-light-blue: linear-gradient(90deg, #20333d 0%, #2788bf 75.48%);
$gradient-light-orange: linear-gradient(90deg, #ef4e2a 0%, #fe6422 100%);

// F-F
$inter: "Inter", sans-serif;
