.btn {
 padding: 1.8rem 5.1rem;
 border-radius: 12px;
 @include font(1.6rem, 1.11, 700, $inter);

 &__getStarted {
  color: #fff;
  background: $gradient-orange;

  &:hover {
   color: #fff;
   opacity: 0.8;
  }
  &:active {
   color: #fff;
   opacity: 0.6;
  }
 }

 &__signIn {
  color: $dark-blue;
 }

 a {
  color: inherit !important;
 }

 &-opener {
  display: none;
  padding: 0;
 }
 &-closer {
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 0;
  position: relative;
  border: none;

  &:after {
   content: "";
   position: absolute;
   top: -3.2px;
   bottom: 0;
   left: 49%;
   right: 50%;
   height: 130%;
   width: 2px;
   transform: translate(-50%, 0%);
   transform: rotateZ(45deg);
   background-color: $dark-blue;
  }
  &::before {
   content: "";
   position: absolute;
   top: -3.2px;
   bottom: 0;
   left: 49%;
   right: 50%;
   height: 130%;
   width: 2px;
   transform: translate(-50%, 0%);
   transform: rotateZ(-45deg);
   background-color: $dark-blue;
  }

  &_wrapper {
   position: absolute;
   right: 50px;
   z-index: 999 !important;
  }
 }
}

@media (max-width: 1200px) {
 .btns {
  display: none;
 }
}

@media (max-width: 992px) {
 .btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
 }

 .btn {
  &-opener {
   display: block;
  }
 }
}
