.header {
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding-top: 1.7rem;
 padding-bottom: 1.7rem;
 background-color: #f2f0f6;
}

.site-logo {
 &__link {
  display: flex;
  align-items: center;
 }
}
