.nav {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: nowrap;

 &-bar {
  display: flex;
  align-items: center;
 }
}
.list {
 display: flex;
 align-items: center;
 gap: 3.2rem;

 &__link {
  font-size: 1.6rem;
  line-height: 1.1;
  color: $light-gray;

  &:hover {
   opacity: 0.7;
  }

  &:active {
   opacity: 0.4;
  }
 }
}

@media (min-width: 1400px) {
 .nav-bar {
  gap: 8rem;
 }
}

@media (max-width: 992px) {
 .nav {
  &-bar {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.13);
   backdrop-filter: Blur(10px);
   flex-direction: column;
  }

  .list {
   flex-direction: column;
  }
 }
}
